@font-face {
    font-family: Mario;
    src: url(../font/SuperMario256.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    border: none;
}

body {
    width: 100vw;
    height: 100vh;
}
.fa-solid.fa-gear{
    cursor: pointer;
}

.configInicio {
    font-family: Mario;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(240, 43%, 19%);
    padding: 10px;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    color: #e6fefe;
    top: 0;
}
.configInicio h1{
    font-size: 34px;
}
.configCentralizado{
    padding-top:50px;
    padding-bottom:50px;
}
.configInicio label {
    display: block;
    margin-bottom: 40px;
}
.configInicio label input,
.configInicio label select{
    margin-top: 10px;
    padding: 3px 3px;
}

.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
}
  
.configInicio button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    padding: 0;
    align-self: center;
}

.button_top {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    -webkit-transform: translateY(-0.2em);
    -ms-transform: translateY(-0.2em);
    transform: translateY(-0.2em);
    -webkit-transition: -webkit-transform 0.1s ease;
    transition: -webkit-transform 0.1s ease;
    transition: transform 0.1s ease;
    transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.configInicio button:hover .button_top {
    /* Pull the button upwards when hovered */
    -webkit-transform: translateY(-0.33em);
    -ms-transform: translateY(-0.33em);
    transform: translateY(-0.33em);
}

.configInicio button:active .button_top {
    /* Push the button downwards when pressed */
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.fechar{
    border: 1px solid rgba(255, 255, 255, 0.438);
    position:absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    user-select: none;
    cursor: pointer;
}

#modelStart {
    z-index: 998;
}

#modelStart,
.loadingScreen {
    position: absolute;
    background-color: hsl(240, 43%, 19%);
    color: #FFF;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mario;
    flex-direction: column;
    height: 100vh;
    padding: 30px;
    font-size: 30px;
}
#modelStart .toggles{
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 3%;
    text-align: center;
    outline: 0;
    outline-color: none;
}

#modelStart h1 {
    margin-bottom: 10px;
    line-height: 70px;
    letter-spacing: 0.19rem;
}

#modelStart #startButton {
    margin: 10px;
    padding: 10px 30px;

}

#modelStart #startButton {
    font-family: Mario;
    font-size: 18px;
    transform: perspective(190px) rotateX(13deg);
    color: hsl(240, 43%, 19%);
    border: none;
    border-radius: 5px;
    background-color: cyan;
    box-shadow: rgba(0, 255, 255, 0.116) 0px 40px 29px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid rgba(70, 135, 252, 1);
}

#modelStart #startButton:hover {
    transform: perspective(180px) rotateX(30deg) translateY(2px);
}

#modelStart #startButton:active {
    transform: perspective(170px) rotateX(36deg) translateY(5px);
}

#modelStart #startButton:hover {
    cursor: pointer;
}

/*Tela de carregamento*/
.loadingScreen {
    z-index: 997;
}

progress.progressBar::-webkit-progress-bar {
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
}

progress.progressBar::-webkit-progress-value {
    background-color: red;
    border-radius: 20px;
}

.loadingScreen h1 {
    line-height: 70px;
    margin-bottom: 10px;
    user-select: none;
    line-height: 70px;
}

/* Música */


.toggle-music:focus,
button:focus,
div:focus {
    outline: none;
}

.far {
    transform: scale(3);
}

.stopPlay {
    margin-left: 15px;
    font-size: 18px;
}

* .toggle-music .pararIniciar:hover {
    cursor: pointer;
}

.toggle-music button,
.toggle-music button::after {
    padding: 16px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
}

.toggle-music button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

/*game*/
header.infos {
    display: flex;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
    padding-top: 20px;
    font-weight: 400;
    font-size: 25px;
}
.infos div{
    margin-left: 30px;
}
.tela {
    width: 100%;
}

.player {
    width: 10px;
    height: 60px;
    background-color: red;
}

.playerMain {
    width: 100px;
}


/* ANIMAÇÕES */

/*H1'S INICIO */
.text-pop-up-top {
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes text-pop-up-top {
    0% {
        transform: translateY(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        transform: translateY(-40px);
        transform-origin: 10% 10%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

/*Botão Música*/
.toggle-music button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        outline: none;

        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        outline: none;

        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        outline: none;

        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        outline: none;

        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        outline: none;

        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        outline: none;

        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        outline: none;

        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        outline: none;

        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        outline: none;

        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        outline: none;

        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        outline: none;

        transform: translate(0);
    }
}